.jcrop-holder #preview-pane{display:block;position:absolute;z-index:2000;top:0;right:-280px;padding:6px;border:1px rgba(0,0,0,.4) solid;border-radius:6px;background-color:white;box-shadow:1px 1px 5px 2px rgba(0, 0, 0, 0.2);}
#preview-pane .preview-container{width:250px;height:250px;overflow:hidden;}
.button.active{opacity:0.6;}